<!DOCTYPE html>
<html>
  <head>
    <title id='title'>KONNECT - Connect With Those In Need</title> <!-- App name-->
    <link rel='stylesheet' type="text/css" href="/static/lo.css">
  </head>  
  <body class='home'>
    <p><img src="/static/images/logo.jpg" class="center" style="width:160px;height:155px;background-color:rgb(255,255,255,0.75);padding:20px;"></p>
    <h1 style='font-size:80px;'>KONNECT</h1>
    
    <h3 id='partner'>Join And Be Our Partner</h3>

    <p style='color:white; padding-bottom:50px;'>Connect with others during hard times</p>
    <div>
    <div align="center" style='padding-bottom:50px;'>
      <a href="{{ url_for('login') }}">Log in</a>
      <a href="{{ url_for('signup') }}">Sign up</a> 
    </div>
     <!--slogan-->
    </div>  
  </body>
</html>